@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");

body,
html {
  margin: 0;
  padding: 0;
  background: #000;
}

canvas {
  display: block;
  width: 100vw;
  height: 100vh;
  background-color: #000;
}
